<main class="main-container">
  <div
    class="side-nav"
    [class.hide]="hide"
  >
    <p-toast></p-toast>
    <p-confirmPopup></p-confirmPopup>
    <div
      class="side-nav-content"
      [class.hide]="hide"
    >
      <div
        class="search"
        [class.hide]="hide"
      >
        <mat-form-field
          class="chat-input"
          appearance="outline"
        >
          <input
            matInput
            [(ngModel)]="searchInput"
            (keyup.enter)="searchFriendFunc()"
            placeholder="Search"
            #searchField
          />
          <button
            matSuffix
            color="primary"
            mat-icon-button
            class="searchIcon"
            (click)="searchFriendFunc()"
          >
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div
        class="friends"
        [class.hide]="hide"
      >
        <p-dialog
          header="Rescuing Pet"
          [(visible)]="visibleModal"
          [modal]="true"
          [style]="{ width: '60vw' }"
          [draggable]="true"
          [resizable]="false"
        >
          <p class="modal-p">Estamos quase lá!</p>
          <div class="modal">
            <div style="width: 80%">
              <p class="modal-p">Pet resgatado por {{ rescuedUser?.name }}?</p>
              <mat-radio-group [(ngModel)]="modalRadioButton">
                <mat-radio-button
                  color="accent"
                  [value]="true"
                  >Yes</mat-radio-button
                >
                <mat-radio-button
                  color="warn"
                  [value]="false"
                  >No</mat-radio-button
                >
              </mat-radio-group>
            </div>
            <div class="modaltextarea">
              <p class="modal-p">Escreva um história feliz</p>
              <textarea
                rows="5"
                cols="30"
                pInputTextarea
                [(ngModel)]="happyText"
              ></textarea>
              <span>{{ happyText.length }}</span>
            </div>

            <div>
              <button
                [disabled]="!modalRadioButton || happyText.length > 2000"
                color="primary"
                (click)="rescueToUser(rescuedUser!)"
                style="width: 200px"
                mat-flat-button
                class="btn"
              >
                Resgatar
              </button>
            </div>
          </div>
        </p-dialog>

        @if (filteredFriendList.length > 0) {
        <span>Resgates</span>
        } @for (friend of filteredFriendList; track $index) {
        <div
          class="friends-card"
          (click)="goToUser(friend)"
        >
          <div class="status">
            @if (friend.userFilename !== '') {
            <div class="img-nav">
              @if (friend.online){
              <mat-icon
                color="accent"
                class="connected"
                >fiber_manual_record</mat-icon
              >
              } @else {
              <mat-icon
                color="warn"
                class="connected"
                >fiber_manual_record</mat-icon
              >
              }
              <img
                src="{{ friend.userFilename }}"
                alt=""
              />
            </div>
            } @else {
            <div class="img-nav">
              @if (friend.online){
              <mat-icon
                color="accent"
                class="connected"
                >fiber_manual_record</mat-icon
              >
              } @else {
              <mat-icon
                color="warn"
                class="connected"
                >fiber_manual_record</mat-icon
              >
              }
              <button
                color="primary"
                mat-icon-button
              >
                <mat-icon>person</mat-icon>
              </button>
            </div>
            }
            <p class="userName">{{ friend.name }}</p>
          </div>

          @if (this.newMessages.has(friend.id) &&
          this.newMessages.get(friend.id) > 0) { @if
          (this.newMessages.get(friend.id) > 9) { @if (friend.senderID !=
          this.user.id) {
          <button
            (click)="petRescued(friend)"
            matSuffix
            type="button"
            color="primary"
            mat-icon-button
            matTooltip="Rescue pet? Click here!"
            matTooltipPosition="after"
          >
            <mat-icon>pets</mat-icon>
          </button>
          }

          <button
            matSuffix
            color="primary"
            mat-icon-button
            matBadge="9+"
            matBadgeSize="small"
            matBadgeColor="warn"
          >
            <mat-icon>mail_outline</mat-icon>
          </button>
          } @else {
          <div class="messages">
            @if (friend.senderID != this.user.id) {
            <button
              (click)="petRescued(friend)"
              matSuffix
              type="button"
              color="primary"
              mat-icon-button
              matTooltip="Rescue pet? Click here!"
              matTooltipPosition="after"
            >
              <mat-icon>pets</mat-icon>
            </button>
            }

            <button
              matSuffix
              color="primary"
              mat-icon-button
              class="searchIcon"
              matBadge="{{ this.newMessages.get(friend.id) }}"
              matBadgeSize="small"
              matBadgeColor="warn"
            >
              <mat-icon>mail_outline</mat-icon>
            </button>
          </div>
          } } @else {
          <div class="messages">
            @if (friend.senderID != this.user.id) {
            <button
              (click)="petRescued(friend)"
              matSuffix
              type="button"
              color="primary"
              mat-icon-button
              matTooltip="Rescue pet? Click here!"
              matTooltipPosition="after"
            >
              <mat-icon>pets</mat-icon>
            </button>
            }
            <button
              matSuffix
              color="primary"
              mat-icon-button
            >
              <mat-icon>mail_outline</mat-icon>
            </button>
          </div>
          }
        </div>
        } @empty { } @if (friendListRescuers.length > 0) {
        <span>Já resgatados</span>
        } @for (friend of friendListRescuers; track $index) {
        <div
          class="friends-card"
          (click)="goToUser(friend)"
        >
          <div class="status">
            @if (friend.userFilename !== '') {
            <div class="img-nav">
              @if (friend.online){
              <mat-icon
                color="accent"
                class="connected"
                >fiber_manual_record</mat-icon
              >
              } @else {
              <mat-icon
                color="warn"
                class="connected"
                >fiber_manual_record</mat-icon
              >
              }
              <img
                src="{{ friend.userFilename }}"
                alt=""
              />
            </div>
            } @else {
            <div class="img-nav">
              @if (friend.online){
              <mat-icon
                color="accent"
                class="connected"
                >fiber_manual_record</mat-icon
              >
              } @else {
              <mat-icon
                color="warn"
                class="connected"
                >fiber_manual_record</mat-icon
              >
              }
              <button
                color="primary"
                mat-icon-button
              >
                <mat-icon>person</mat-icon>
              </button>
            </div>
            }
            <p class="userName">{{ friend.name }}</p>
          </div>

          @if (this.newMessages.has(friend.id) &&
          this.newMessages.get(friend.id) > 0) { @if
          (this.newMessages.get(friend.id) > 9) {
          <button
            matSuffix
            color="primary"
            mat-icon-button
            matBadge="9+"
            matBadgeSize="small"
            matBadgeColor="warn"
          >
            <mat-icon>mail_outline</mat-icon>
          </button>
          } @else {

          <div class="messages">
            <button
              matSuffix
              color="primary"
              mat-icon-button
              class="searchIcon"
              matBadge="{{ this.newMessages.get(friend.id) }}"
              matBadgeSize="small"
              matBadgeColor="warn"
            >
              <mat-icon>mail_outline</mat-icon>
            </button>
          </div>
          } } @else {
          <div class="messages">
            <button
              matSuffix
              color="primary"
              mat-icon-button
            >
              <mat-icon>mail_outline</mat-icon>
            </button>
          </div>
          }
        </div>

        }
      </div>
    </div>
  </div>
  <router-outlet />
</main>
