@use '../../../assets/colors/colors.scss' as colors;
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.main-container {
  display: flex;
  height: 90vh;
  width: 100vw;
  justify-content: space-between;

  .side-nav {
    margin: 30px 0px 0px 20px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    min-width: 350px;
    width: 20vw;
    height: 85vh;
    gap: 10px;
    box-shadow: colors.$cardShadowPrimary;
    background-color: colors.$cardBackground;

    .side-nav-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 20px;

      .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // padding: 20px;
        width: 100%;

        .expandFalse {
          display: none;
          .expandBtn:hover {
            background-color: colors.$cardBackground;
          }
        }
        .span {
          color: colors.$text-primary !important;
          font-family: 'Fredoka', sans-serif !important;
        }
        
        .exit-button {
          align-self: flex-end;
          cursor: pointer;
          margin: 20px;
          overflow: visible;
        }
      }
      .search {
        margin-top: 40px;
        align-items: center;
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: center;

        .searchIcon {
          cursor: pointer;
        }
        mat-form-field {
          width: 90%;
        }
        input {
          color: colors.$text-primary;
        }
      }

      .friends {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        max-height: 80%;
        overflow-y: auto;
        overflow-x: hidden;
        width: 90%;
        padding: 10px;
        .modal{
          margin-top: 40px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          gap: 20px;

          .modaltextarea{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            span{
              margin-right: 10%;
              align-self: flex-end;
              color: colors.$text_primary;
              font-size: x-small;
            }
            textarea{
              background-color: colors.$background;
              color: colors.$text_primary;
              max-width: 80%;
              min-width: 80%;
              max-height: 300px;
              min-height: 300px;
              text-wrap: pretty;
            }

          }
          .items{
            width: 40%;
          }
        }

        .friends-card {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          width: 100%;
          background-color: colors.$cardBackground;
          box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          padding: 6px 10px;
          
          .messages {
            display: flex;
            justify-content: flex-end;
          }
          .status {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: 80%;
            gap: 20px;
            text-wrap: pretty-block;
            
            .img-nav {
              width: 48px;
              height: 48px;
              border-radius: 50%;
              position: relative;
            
              .connected {
                top: -6px;
                left: 0;
                transform: translateX(120%) !important;
                position: absolute !important;
                padding: 0px !important;
                margin: 0px !important;
              }
            
              img {
                border-radius: 50%;
                object-fit: cover;
                width: 48px;
                height: 48px;
                image-rendering: crisp-edges;
              }
              // button{
              //   box-shadow: colors.$cardShadowPrimary;
              // }
            }

            .userName {
              text-wrap: pretty-block;
              color: colors.$text-primary;
              font-family: 'Fredoka', sans-serif;
              word-wrap: break-word;
            }

          }
        }
      }
    }
  }
}

/* Alinha e muda a font da matBadge  */
:host ::ng-deep .mat-badge-content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px !important;
  font-family: 'Noto Sans KR', sans-serif;
}

/* Substitue a cor da borda do input em search */
// ::ng-deep .mdc-button--outlined .mdc-button__ripple {
//   border-color: colors.$cardBackground;
// }

/* Substitue a cor da borda do input em search */
::ng-deep .mdc-notched-outline > * {
  border-color: colors.$primary !important;
}

/* Substitue a cor da borda do input quando selecionado em search  */
::ng-deep .mdc-text-field--focused .mdc-notched-outline > * {
  border-color: colors.$primary !important;
}

/* Substitue a cor do texto do placeholder em search  */
::ng-deep input::placeholder {
  color: colors.$cardBackground !important;
}
span {
  color: colors.$text-primary !important;
}
.modal-p{
  color: colors.$text_primary;
}

::ng-deep .mdc-form-field {
  color: colors.$text_primary !important;
}
::ng-deep .p-dialog{
  border: none;
}
::ng-deep .p-dialog .p-dialog-content{
  background-color: colors.$background !important;
}

::ng-deep .p-dialog .p-dialog-header{
  background-color: colors.$primary;
}