@use '../../../assets/colors/colors.scss' as *;

.main {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Comfortaa', sans-serif;

}
h2, h1{
  color: $text_primary;
}
.btn{
  width: 200px;
}