@use "../../../assets/colors/colors.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

* {
  margin: 0;
}

.container-info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
  margin: 0;
}

// ::ng-deep .mdc-list-item__primary-text {

// }
.deleted{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  padding: 10px;
  cursor: pointer;
  h3{
    background-color: $warn;
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
  }
}


.icon2 {
  border-radius: 100%;
}

h2 {
  color: $primary;
  padding-top: 30px;
  padding-left: 50px;
  text-wrap: wrap;
}
h3{
  color: $primary;
}

mat-paginator {
  color: $text_primary !important;
}
mat-label{
  color: $text_primary;
}
::ng-deep .mdc-notched-outline  {
  border-color: $primary !important;
}
/* Substitue a cor do texto do input */
input {
  color: $text_primary !important;
}

.cardH1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 70vw;
  min-height: 500px;
  border-radius: 10px;
  box-shadow: $cardShadowPrimary;
  margin-top: 30vh;
  background-color: $cardBackground !important;
}

.userPanel {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
  text-align: start;
}

.card-user-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.card-user-header h1 {
  cursor: pointer;
}

.btn {

  width: 200px;
}

.card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -280px;
  border-radius: 100%;
  height: 280px;
  width: 280px;
  background-size: cover;
  background-color: $cardBackground;
  overflow: hidden;

  p-skeleton{
    height: 280px;
    width: 280px;
    object-fit: cover;
    position: absolute;
  }
  img {
    height: 280px;
    width: 280px;
    object-fit: cover;
    border-radius: 100%;
  }  
}
.icon {
  text-align: center;
  margin-top: 80%;
  color: #ffffff;
  .upload{
    background-color: $cardBackground !important;
  }
}

mat-icon {
  height: auto !important;
  width: auto !important;
  opacity: 0.9;
  cursor: pointer;
  transition: opacity 0.5s ease 0s;
}

.icon:hover {
  opacity: 0.8;
  color: #ffffff;
}

.parent {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 50%);
  grid-column-gap: 40px;
  grid-row-gap: 10px;
  min-width: 60vw;
  padding: 40px;
  border-radius: 10px;
}

.file-label {
  position: relative;
  display: inline-block;
}

.file-label input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
}

.file-label mat-icon {
  margin: 0 !important;
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
  color: $primary;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;

}

.img-icon {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: $cardShadowPrimary;
}

.userPerfilImg {
  position: absolute;
  box-shadow: $cardShadowPrimary;
}

.form2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

mat-form-field {
  width: 30vw !important;
}

/* CONTAINER POSTS */

.container-posts {
  display: flex;
  justify-content: center;
  height: 90vh;
  margin: 0;
  margin-top: 10vh;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 650px;
  box-shadow: $cardShadowPrimary;
  border-radius: 8px;
  background-color: $cardBackground !important;  


  .pet-infos{
    display: flex;
    flex-direction: column;
    max-height: 140px;
  }
  .tag{
    height: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    

    span{
      color: $primary;
    }
  }
}
.cards2 {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 650px;
  box-shadow: $cardShadowPrimary;
  border-radius: 10px;
  background-color: #343a40 !important;
}


.header-card {
  height: 100px;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 0px 10px;

  .header-img-name {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
}
.userName {
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: $text_primary !important;
}

.btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  margin: 10px 0px 10px 0px;  
  width: 200px;
  color: #fff !important;
}
.btn-first-card{
  margin: 20px;
  width: 200px;
  color: #fff !important;
}
.btn-lost {
  color: $warn !important;
}

.pagination-container {
  height: 10vh;
}

.petList {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.pet_image {
  width: 400px;
  height: 300px;
  margin: 10px;
  object-fit: cover;
  border-radius: 20px;
}

.img-pet {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.btn-header {
  align-self: center;
  width: 95%;
  padding: 12px 0px;
  font-size: 20px;
  color: #fff !important;
}

.img-icon2 {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  object-fit: cover;
}

.icon2:first-child {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(2.8);
  color: $primary;
  opacity: 1;
}

.icon2:last-child {
  transform: scale(1.4);
  margin-right: 20px;
  cursor: pointer;
}
::ng-deep .mdc-list-item__primary-text {
  color: $text_primary !important;
}
mat-list-item{
  font-weight: bold;
  span{
    font-weight: 600;
    color: $text_primary !important;
    opacity: .8;
  }
}

::ng-deep .p-confirm-popup {
  font-weight: 600;
  font-style: normal;
  background-color: $cardBackground !important;
  color: $text_primary;
  border: none !important;

  .p-button:first-child{
    background-color: $warn;
    border: none !important;
  }
  .p-button {
    background-color: $green;
    color: #ffffff !important;
    border: none !important;
    padding: 0.4rem 1.25rem;
    font-size: medium;
    border-radius: 4px;
  }
}

::ng-deep .mdc-list-item__content{
  color: $text_primary;
}


// message toast
::ng-deep .p-toast .p-toast-message.p-toast-message-error{
  color: #cc0000 !important;
}

::ng-deep .p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon, .p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close{
  color: #cc0000 !important;

}

::ng-deep .p-toast .p-toast-message.p-toast-message-info{
  color: #3b82f6 !important;
}

::ng-deep .p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon, .p-toast .p-toast-message.p-toast-message-info .p-toast-icon-close{
  color: #3b82f6 !important;
}

::ng-deep .p-toast .p-toast-message.p-toast-message-success{
  background-color: #06a8006b;
  color: $green !important;
}

::ng-deep .p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon, .p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close{
  color: $green !important;
}


// ::ng-deep .p-toast .p-toast-message.p-toast-message-warn{

// }

// ::ng-deep .p-toast .p-toast-message.p-toast-message-warn .p-toast-message-icon, .p-toast .p-toast-message.p-toast-message-warn .p-toast-icon-close{

// }