<div class="main">
  <div class="container-info">
    <div class="card">
      <div class="cardH1">
        <h2>Hello {{ user?.name }}</h2>
        <button
          (click)="scrollToContainer()"
          class="btn"
          color="primary"
          mat-stroked-button
        >
          See your posts
        </button>
      </div>
      <div class="userPanel">
        <div class="card-user-header">
          <p-toast></p-toast>
          <p-confirmPopup></p-confirmPopup>
          <form class="form" enctype="multipart/form-data">
            <div class="card-img">
              @if(user.profile_pic){
              <img
                class="userPerfilImg"
                src="{{ user.profile_pic }}"
                alt=""
              />            
              }@else{
                <p-skeleton height="100%" class="img-icon" shape="circle"></p-skeleton>
              } 
              @if (!this.selectedFile) {
                <form class="icon" enctype="multipart/form-data">
                  <label class="file-label">
                    <mat-icon #fileIcon>add_a_photo</mat-icon>
                    <input
                      #fileInput
                      type="file"
                      class="form-control"
                      (change)="handleFileInput($event)"
                    />
                  </label>
                </form>
              } @else {

                <div class="icon">
                  <button (click)="confirm1($event)" class="upload" color="primary" mat-icon-button>
                    <mat-icon>cloud_upload</mat-icon>
                  </button>
                </div>
              }

            </div>

          </form>
        </div>

        <form class="form2" [formGroup]="userForm">
          <div class="parent">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input
                formControlName="firstName"
                type="text"
                matInput
              />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input
                formControlName="lastName"
                type="text"
                matInput
              />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Telephone</mat-label>
              <input
                formControlName="telephone"
                type="tel"
                mask="(00) 0 0000 0000"
                prefix="+55 "
                matInput
              />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Address</mat-label>
              <input
                formControlName="address"
                type="text"
                matInput
              />
              <button (click)="autocomplete(this.userForm.value.address)" color="primary" mat-icon-button matSuffix style="cursor: pointer;">
                <mat-icon color="primary">search</mat-icon>
              </button>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>CEP</mat-label>
              <input
                formControlName="cep"
                type="text"
                mask="00000-000"
                matInput
              />
            </mat-form-field>
          </div>
          <button
            class="btn"
            type="submit"
            color="primary"
            mat-stroked-button
            [disabled]="disableButton"
            (click)="confirm2($event)"
          >
            Update Profile
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="container-posts" id="container-posts">
    <div class="petList">
      <h3>Your posts</h3>

      <div class="cards-container">
        @for (pet of petList; track pet.id) {
        <mat-list class="cards">
          <div class="header-card">
            <img class="img-icon" src="{{ user.profile_pic }}"/>
            <p class="userName">{{ user.name }}</p>
            <button color="warn" class="btn-header" mat-stroked-button>
              {{ pet.status }}
            </button>
          </div>
          <div class="pet_image">
            @if(pet.filename){
              @defer (on viewport){
                <img class="img-pet" src="{{ pet.filename }}"/>
              } @placeholder (minimum 300ms) {
                <p-skeleton width="400px" height="300px"></p-skeleton>
              }
            } @else {
              <p-skeleton width="400px" height="300px"></p-skeleton>
            }
          </div>
  
          <mat-list-item></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Pet Name: {{ pet.name }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Breed: {{ pet.breed }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Specie: {{ pet.species }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Sex: {{ pet.sex }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Last Location: {{ pet.last_location }}</mat-list-item>
          <mat-divider></mat-divider>
  
          <div class="btn-div">
            <button
              [disabled]="true"
              type="text"
              class="btn"
              color="primary"
              mat-stroked-button
            >
              Rescue Pet
            </button>
          </div>
        </mat-list>
        } @empty {
            <mat-list class="cards2">
              <div class="header-card">
                  <p-skeleton class="img-icon" shape="circle" width="60px" height="60px"></p-skeleton>
                  <p-skeleton class="userName"></p-skeleton>
                  <p-skeleton class="btn-header" ></p-skeleton>
              </div>
    
              <div class="pet_image">
                <p-skeleton width="400px" height="300px"></p-skeleton>
              </div>
                <mat-list-item></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p-skeleton width="10rem" styleClass="mb-2"></p-skeleton></mat-list-item>
                <mat-list-item><p-skeleton width="10rem" styleClass="mb-2"></p-skeleton></mat-list-item>
                <mat-list-item><p-skeleton width="10rem" styleClass="mb-2"></p-skeleton></mat-list-item>
                <mat-list-item><p-skeleton width="10rem" styleClass="mb-2"></p-skeleton></mat-list-item>
                <mat-list-item><p-skeleton width="10rem" styleClass="mb-2"></p-skeleton></mat-list-item>
              <div class="btn-div">
                <p-skeleton class="btn"></p-skeleton>
              </div>
            </mat-list>
        } 
      </div>
      </div>
    </div>
  </div>
