$background: #f0f1ff;
$text_primary: #181818;
$primary: #aeb8fe;
$secundary: #afa48e;
$borderPrimary: #4444445b;
$cardBackground: #f0f2f5;
$cardShadowPrimary: inset 0px 0px 10px 4px rgba(0,0,0,0.1);

// $background: #1e1f1f;
// https://coolors.co/palette/646c7d-6d7688-738096-8e9aaf-cbc0d3-efd3d7-f7dfe9-feeafa-eee6fd-dee2ff Paleta