
$background: #4b4646;
$background2: #1e1f1f;
$text_primary: #efefed;
$primary: #fb8c00;
$cardBackground: #393333;
$searchColorDeafaut: #dee2e628;
$cardShadowPrimary: 0px 10px 15px -3px rgba(0,0,0,0.1);