$background: #E9ECEF;
$text_primary: #efefed;
$primary: #0d47a1;
$borderPrimary: #dee2e628;
$cardBackground: #212529;
$cardShadowPrimary: 0px 10px 15px -3px rgba(0,0,0,0.1);










$background2: #1e1f1f;
$searchColorDeafaut: #dee2e628;
