<div class="main">
  <div class="card">

    <h1>Sobre nós</h1>
    <div class="text">
      <p>
        A equipe do Divulga PET é dedicada a conectar pets perdidos com seus
        tutores. Inspirados pelo amor aos animais e pelo papel vital que eles
        desempenham na sociedade, criamos uma plataforma para aliviar a angústia
        de perder um pet. Reconhecemos que pets são membros da família e sua
        perda afeta a família e a comunidade. Apesar da tecnologia avançada de
        hoje, percebemos a falta de um serviço eficiente para reunir pets
        perdidos e seus tutores. Compostos por indivíduos apaixonados,
        acreditamos no poder da comunidade e estamos comprometidos em usar a
        tecnologia para o bem.
      </p>
      <p>
        Esperamos que, através do nosso trabalho, possamos contribuir para uma
        sociedade onde nenhum pet se sinta perdido e todo tutor tenha a paz de
        espírito de saber que existe uma comunidade pronta para ajudar.
        Agradecemos a sua visita e esperamos que você encontre o que procura em
        nosso site.
      </p>
    </div>
    <div class="imgSection">
      <div class="sec">
        <img
          src="../../../assets/Guilherme.jpg"
          alt=""
        />
        <p>Guilherme</p>
      </div>
      <div class="sec">
        <img
          src="../../../assets/karina.jpg"
          alt=""
        />
        <p>Karina</p>
      </div>
    </div>
  </div>
</div>
