@use '../../../assets/colors/colors.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

// COR DO SELECT
::ng-deep .mdc-list-item__primary-text {
  color: $text_primary !important;
}

::ng-deep div.mat-mdc-select-panel {
  background-color: $cardBackground !important;
}

.main {
  display: flex;
  width: 100vw;
  height: 90vh;
}

.search {
  margin: 30px 0px 0px 20px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  height: 85vh;
  box-shadow: $cardShadowPrimary;
  gap: 10px;
  background-color: $cardBackground;
}

.searchHeader {

  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 14vw;
  justify-content: center;
  margin: 30px;
  margin-top: 60px;
  border-bottom: 1px solid rgba(56, 56, 56, 0.288);
  color: rgba(56, 56, 56, 0.288);
  cursor: pointer;
  padding: 8px;

  h2 {
    margin: 0;
    padding: 0 !important;
    color: $text_primary;
  }
}

mat-form-field {
  width: 16vw;
}

.cards-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0px;
}

.error {
  color: $primary;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  gap: 20px;
  flex-wrap: wrap;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 650px;
  box-shadow: $cardShadowPrimary;
  border-radius: 8px;
  background-color: $cardBackground !important;  


  .pet-infos{
    display: flex;
    flex-direction: column;
    max-height: 140px;
  }
  .tag{
    height: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    

    span{
      color: $primary;
    }
  }
}

.header-card {
  height: 100px;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 0px 10px;

  .header-img-name{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
}


mat-list-item{
  font-weight: bold;
  span{
    font-weight: 600;
    color: $text_primary !important;
    opacity: .5;
  }
}

.userName {
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: $text_primary !important;
}

.img-icon {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  object-fit: cover;
}

.btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  margin: 10px 0px 10px 0px;  
  width: 200px;
}

.btn-lost {
  color: $warn !important;
}

.icon {
  color: $primary;
  border-radius: 100%;
}

mat-icon:first-child {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(2.8);
}

mat-icon:last-child { //Copy ID
  cursor: pointer;
}

mat-paginator {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: $cardShadowPrimary;
  margin-top: 20px;
  background-color: $cardBackground !important;
}

.pagination-container {
  height: 10vh;
}
mat-paginator {
  color: $text_primary;
}

.petList {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pet_image {
  margin: 10px;
  object-fit: cover;
  border-radius: 20px;
  .img-pet {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
  }
}

.btn-header {
  align-self: center;
  width: 95%;
  padding: 12px 0px;
  font-size: 20px;
  color: #fff !important;

}

.cards2 {
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 650px;
  border-radius: 10px;
  background-color: #272727 !important;
  gap: 10px;
}
.itemSke {
  padding: 0px 10px;
}
/* Substitue a cor da borda do input */
::ng-deep .mdc-notched-outline > * {
  border-color: $borderPrimary !important;
}

/* Substitue a cor da borda do input quando selecionado */
::ng-deep .mdc-text-field--focused .mdc-notched-outline > * {
  border-color: $primary !important;
}

mat-label {
  color: $text_primary;
}

mat-select {
  color: $primary !important;
}
/* Substitue a cor do texto do input */
input {
  color: $text_primary !important;
}

::ng-deep .mat-mdc-select-value {
  color: $text_primary;
}

::ng-deep .mat-mdc-icon-button:enabled .mat-mdc-paginator-icon {
  fill: $primary !important;
}

mat-option{
  span{
    opacity: 0.4;
  }
}


::ng-deep .p-confirm-popup {
  font-family: "Delius", cursive;
  font-weight: 600;
  font-style: normal;
  background-color: $cardBackground !important;
  color: $text_primary;
  border: none !important;

  .p-button:first-child{
    background-color: $warn;
    border: none !important;
  }
  .p-button {
    background-color: $primary;
    color: #ffffff !important;
    border: none !important;
    padding: 0.4rem 1.25rem;
    font-size: medium;
    border-radius: 4px;
  }
}
::ng-deep .mdc-list-item__content{
  color: $text_primary;
}

