<div class="main">
  
  <p-toast></p-toast>
  <p-confirmPopup [ngStyle]="{backgroundColor:'var(--highlight-bg)', color: 'var(--highlight-text-color)'}"></p-confirmPopup>
  
  
  <div class="search">
    <div class="searchHeader">
      <h2>Pesquisar</h2>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Pesquisar por ID</mat-label>
        <input matInput  [(ngModel)]="searchId">
          <button
          (click)="filter(searchId, 'id')"
          matSuffix
          color="primary"
          mat-icon-button
          >
          <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>

    <div class="item">
      <mat-form-field appearance="outline" class="forms">
        <mat-label>Filtrar por Espécie</mat-label>
        <mat-select value="{{ pet.species }}"  (selectionChange)="filter($event, 'species')">
          <mat-option value="">Todos</mat-option>
          <mat-option value="Cachorro">Cachorro</mat-option>
          <mat-option value="Gato">Gato</mat-option>
          <mat-option value="Pássaro">Pássaro</mat-option>
          <mat-option value="Outros">Outros</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="item">
      <mat-form-field appearance="outline" class="forms">
        <mat-label>Filtrar por situação</mat-label>
        <mat-select value="{{ pet.status }}" (selectionChange)="filter($event, 'status')">
          <mat-option value="">Todos</mat-option>
          <mat-option value="Perdido">Perdido</mat-option>
          <mat-option value="Encontrado">Encontrado</mat-option>
          <mat-option value="Visto nas proximidades">Visto nas proximidades</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="petList">
    <div class="cards-container">
      @for (pet of updatedListPet$ | async; track pet.id) {
      <mat-list class="cards">
        <div class="header-card">
          @if(!pet.user_filename){
            <div class="header-img-name">
              <p-skeleton class="img-icon" shape="circle" width="60px" height="60px"></p-skeleton>
              <p class="userName">{{ pet.user_firstName }}</p>
            </div>
          }@else {
            <div class="header-img-name">
                <img
                class="img-icon"
                src="{{ pet.user_filename }}"/>
                <p class="userName">{{ pet.user_firstName }}</p>
            </div>
          }
          <button
          matSuffix
          matTooltipPosition="after"
          color="primary"
          mat-icon-button
          [cdkCopyToClipboard]="pet.id" 
          matTooltip="Clique para copiar o ID"
        > 
        <mat-icon 
            color="primary"
            >file_copy</mat-icon>
          </button>
        </div>

        <div class="pet_image">
          @if(pet.filename){
            @defer (on viewport){
              <img class="img-pet" src="{{ pet.filename }}"/>
            } @placeholder (minimum 300ms) {
              <p-skeleton width="400px" height="300px"></p-skeleton>
            }
          } @else {
            <p-skeleton width="400px" height="300px"></p-skeleton>
          }
        </div>


        <button color="warn" class="btn-header" mat-flat-button>
          {{ pet.status }}
        </button>
      

        <mat-divider></mat-divider>
        <mat-list-item>Nome: <span>{{ pet.name }}</span></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Raça: <span>{{ pet.breed }}</span></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Espécie: <span>{{ pet.species }}</span></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Sexo: <span>{{ pet.sex }}</span></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item 
          style="cursor: pointer;"
          matTooltip="{{ pet.last_location }}"
          >Última localização: <span>{{ pet.last_location }}</span></mat-list-item>
        <mat-divider></mat-divider>

        <div class="btn-div">
          <button
            (click)="confirm1($event, pet)"
            type="submit"
            class="btn"
            color="primary"
            mat-stroked-button
          >
            Resgatar
          </button>
        </div>
      </mat-list>
      } @empty {
        @defer () {
        <div class="error">
          <h2>Nenhum pet encontrado</h2>
        </div>
      } @loading (minimum 3000ms) {
        <div class="cards2">
          <div class="header-card">
              <p-skeleton class="img-icon" shape="circle" width="60px" height="60px"></p-skeleton>
              <p-skeleton class="userName"></p-skeleton>
              <p-skeleton class="btn-header" ></p-skeleton>
          </div>

          <div class="pet_image">
            <p-skeleton width="400px" height="300px"></p-skeleton>
          </div>

            <p-skeleton class="itemSke" width="10rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton class="itemSke" width="10rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton class="itemSke" width="10rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton class="itemSke" width="10rem" styleClass="mb-2"></p-skeleton>
            <p-skeleton class="itemSke" width="10rem" styleClass="mb-2"></p-skeleton>
          <div class="btn-div">
            <p-skeleton class="btn"></p-skeleton>
          </div>
        </div>
      } }
    </div>


    <div class="pagination-container">
      <mat-paginator
        color="primary"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="pageIndex"
        [length]="totalPet"
        [pageSize]="pageSize"
        aria-label="Select page"
        (page)="pageChange($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
