<div class="main">
  <div class="search">
    <div class="searchHeader">

      <h2>Search</h2>
      <button
      matSuffix
      color="primary"
      mat-icon-button
    >
      <mat-icon>search</mat-icon>
    </button>    
    </div>

    <div class="item">
      <mat-form-field appearance="outline" class="forms">
        <mat-label>Filter by species</mat-label>
        <mat-select (selectionChange)="filter($event, 'species')">
          <mat-option value="all">All</mat-option>
          <mat-option value="dog">Dog</mat-option>
          <mat-option value="cat">Cat</mat-option>
          <mat-option value="bird">Bird</mat-option>
          <mat-option value="other">Other</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="item">
      <mat-form-field appearance="outline" class="forms">
        <mat-label>Filter by status</mat-label>
        <mat-select (selectionChange)="filter($event, 'status')">
          <mat-option value="all">All</mat-option>
          <mat-option value="lost">Lost</mat-option>
          <mat-option value="found">Found</mat-option>
          <mat-option value="seen nearby">Seen nearby</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-stroked-button color="primary" (click)="getMorePets()">Click me!</button>

  </div>

  <div class="petList">
    <div class="cards-container">
      @for (pet of updatedListPet$ | async; track pet.id) {
      <mat-list class="cards">
        <div class="header-card">
          @if(!pet.user_filename){
            <p-skeleton class="img-icon" shape="circle" width="60px" height="60px"></p-skeleton>
          }@else {
          <img
            class="img-icon"
            src="{{ pet.user_filename }}"
          />
          }
          
          <p class="userName">{{ pet.user_firstName }}</p>
          <button color="warn" class="btn-header" mat-stroked-button>
            {{ pet.status }}
          </button>
        </div>

        <div class="pet_image">
          @if(pet.filename){
            @defer (on viewport){
              <img class="img-pet" src="{{ pet.filename }}"/>
            } @placeholder (minimum 300ms) {
              <p-skeleton width="400px" height="300px"></p-skeleton>
            }
          } @else {
            <p-skeleton width="400px" height="300px"></p-skeleton>
          }
        </div>

        <mat-list-item></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Pet Name: {{ pet.name }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Breed: {{ pet.breed }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Specie: {{ pet.species }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Sex: {{ pet.sex }}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Last Location: {{ pet.last_location }}</mat-list-item>
        <mat-divider></mat-divider>

        <div class="btn-div">
          <button
            (click)="rescue()"
            type="submit"
            class="btn"
            color="primary"
            mat-stroked-button
          >
            Rescue Pet
          </button>
        </div>
      </mat-list>
      } @empty {
        @defer () {
        <div class="error">
          <h2>No pets found</h2>
        </div>
      } @loading (minimum 3000ms) {
        <mat-list class="cards">
          <div class="header-card">
              <p-skeleton class="img-icon" shape="circle" width="60px" height="60px"></p-skeleton>
              <p-skeleton class="userName"></p-skeleton>
              <p-skeleton class="btn-header" ></p-skeleton>
          </div>

          <div class="pet_image">
            <p-skeleton width="400px" height="300px"></p-skeleton>
          </div>
            <mat-list-item></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><p-skeleton width="10rem" styleClass="mb-2"></p-skeleton></mat-list-item>
            <mat-list-item><p-skeleton width="10rem" styleClass="mb-2"></p-skeleton></mat-list-item>
            <mat-list-item><p-skeleton width="10rem" styleClass="mb-2"></p-skeleton></mat-list-item>
            <mat-list-item><p-skeleton width="10rem" styleClass="mb-2"></p-skeleton></mat-list-item>
            <mat-list-item><p-skeleton width="10rem" styleClass="mb-2"></p-skeleton></mat-list-item>
          <div class="btn-div">
            <p-skeleton class="btn"></p-skeleton>
          </div>
        </mat-list>
      } }
    </div>
    <div class="pagination-container">
      <mat-paginator
        [length]="totalItems"
        [pageSize]="pageSize"
        aria-label="Select page"
        (page)="pageChange($event)"
      >
      </mat-paginator>
    </div>
  </div>


  
</div>
