<div class="main">
  
  <div class="container">
    <div class="left">
      <div class="how-to-find-pet">
        <span class="text-h1">Reencontre o seu Pet Perdido</span>
        <p class="welcome-text">
          Aproveite a nossa ferramenta de localização de pets, uma solução
          eficaz que tem auxiliado incontáveis tutores em todo o Brasil. Realize
          uma publicação totalmente gratuita e ganhe acesso imediato ao nosso
          abrangente Painel de Publicações.
        </p>

        <div class="left-btns">
          <button
            mat-flat-button
            class="btn2"
            extended
            color="primary"
            (click)="goToPublication()"
          >
            <mat-icon>map</mat-icon>
            <span>Mapa Interativo</span>
          </button>

          <button
            mat-flat-button
            extended
            class="btn2"
            color="primary"
            (click)="goToFindPet()"
          >
            <mat-icon>search</mat-icon>
            Achados e Perdidos
          </button>
        </div>
      </div>

      <div class="total-recueds">
        <div>
          <h2>
            Total de Pets Resgatados <span>{{ this.totalPets }}</span> e
            subindo! 🚀
          </h2>
        </div>
        <p>Últimas histórias felizes</p>
        <p-avatarGroup>
          @for (pet of petList; track $index) {

          <p-avatar
            [style]="{ 'object-fit': 'cover' }"
            image="{{ pet.filename }}"
            size="large"
            shape="circle"
          ></p-avatar>

          } @empty {
          <button
            color="warn"
            mat-icon-button
          >
            <mat-icon color="warn">error</mat-icon>
          </button>
          <p>Nenhum pet resgatado ainda :(</p>
          }
        </p-avatarGroup>
      </div>
    </div>
    <div class="right">
      <img
        width="600px"
        height="600px"
        style="object-fit: cover; border-radius: 20px"
        src="../../../assets/pets.png"
        alt="No Image"
      />
    </div>
  </div>

  <div (click)="scrollToContainer()" class="c2-h1">
    <h1>Como Divulga Pet Funciona?</h1>
  </div>

  <div id="divulga" class="container">
    <div class="left">
      <div class="how-to-post-pet">
        <div class="cards2">
          <div class="header-card">
            <div class="header-img-name">
              <img
                class="img-icon"
                src="../../../assets/karina.jpg"
                alt=""
              />
              <p>Karina</p>
            </div>

            <div class="btns">
              <button
                matSuffix
                matTooltipPosition="after"
                color="primary"
                mat-icon-button
              >
                <mat-icon color="primary">share</mat-icon>
              </button>

              <button
                matSuffix
                matTooltipPosition="after"
                color="primary"
                mat-icon-button
              >
                <mat-icon color="primary">file_copy</mat-icon>
              </button>
            </div>
          </div>

          <div class="pet_image">
            <img
              class="img-pet"
              src="../../../assets/boris.jpeg"
              alt=""
            />
          </div>

          <button
            color="warn"
            class="btn-header"
            mat-flat-button
          >
            Procurando tutor
          </button>

          <mat-list class="pet-infos">
            <mat-list-item>Nome: <span>Boris</span></mat-list-item>
            <mat-list-item>Raça: <span>Desconhecido</span></mat-list-item>
            <mat-list-item>Espécie: <span>Cachorro</span></mat-list-item>
            <mat-list-item>Sexo: <span>Macho</span></mat-list-item>
            <mat-list-item style="cursor: pointer"
              >Última localização:
              <span
                >R. dos Caningás, 5A - Vila Costa e Silva, Campinas - SP,
                13081-290, Brazil</span
              ></mat-list-item
            >
          </mat-list>

          <div class="btn-div">
            <button
              type="submit"
              class="btn"
              color="accent"
              mat-flat-button
            >
              Resgatar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="how-to">
        <span class="text-h1">Crie uma publicação</span>
        <p class="welcome-text">
          Para criar uma publicação, efetue o login. Em seguida, clique em
          Publicar PET, adicione uma foto do animal desaparecido, especifique a
          situação (Perdido ou Procurando Tutor), inclua observações e a última
          localização onde o PET foi visto.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="left">
      <div class="how-to-find-pet">
        <span class="text-h1">Procure o seu Pet Perdido</span>
        <p class="welcome-text">
          Ao clicar em Achados/Perdidos informações sobre o pet serão exibidas
          na página. Nessa página, você terá a opção de filtrar as publicações
          por situação do pet, espécie ou ID. Isso facilita a busca por
          informações específicas.
        </p>
      </div>
    </div>
    <div class="right">
      <div class="search">
        <div class="searchHeader">
          <h2>Pesquisar</h2>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Pesquisar por ID</mat-label>
          <input matInput />
          <button
            matSuffix
            color="primary"
            mat-icon-button
          >
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>

        <div class="item">
          <mat-form-field
            appearance="outline"
            class="forms"
          >
            <mat-label>Filtrar por Espécie</mat-label>
            <mat-select>
              <mat-option value="">Todos</mat-option>
              <mat-option value="Cachorro">Cachorro</mat-option>
              <mat-option value="Gato">Gato</mat-option>
              <mat-option value="Pássaro">Pássaro</mat-option>
              <mat-option value="Outros">Outros</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="item">
          <mat-form-field
            appearance="outline"
            class="forms"
          >
            <mat-label>Filtrar por situação</mat-label>
            <mat-select>
              <mat-option value="">Todos</mat-option>
              <mat-option value="Perdido"
                >Perdido <span> (Procurando Pet)</span></mat-option
              >
              <mat-option value="Encontrado"
                >Encontrado <span>(Procurando tutor)</span></mat-option
              >
              <mat-option value="Visto nas proximidades"
                >Visto nas proximidades</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="left">
      <img
        src="../../../assets/chat.png"
        alt=""
      />
    </div>

    <div class="right">
      <div class="how-to">
        <span class="text-h1">CHAT para o Resgate</span>
        <p class="welcome-text">
          Ao localizar o pet perdido na página de Achados/Perdidos, o tutor pode
          clicar no botão Resgatar meu PET para ser direcionado ao CHAT. Lá, ele
          pode conversar com quem publicou o pet e obter mais detalhes para
          resgatar o pet.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="left">
      <div class="how-to-find-pet">
        <span class="text-h1">Histórias Felizes</span>
        <p class="welcome-text">
          Assim que o resgate for feito, o usuário que fez a publicação confirmará o sucesso do resgate através do CHAT.
          Em seguida, escreverá uma história detalhada sobre a experiência do resgate. Essa história será fixado na publicação na página "HISTÓRIAS FELIZES".
          Desta forma todos os usuários terão a oportunidade de visualizar o pet resgatado e ler sobre a emocionante jornada de seu resgate.
        </p>
      </div>
    </div>

    <div class="right">
      <div class="how-to-post-pet">
        <div class="cards2">
          <div class="header-card">
            <div class="header-img-name">
              <img
                class="img-icon"
                src="../../../assets/Guilherme.jpg"
                alt=""
              />
              <p>Guilherme</p>
            </div>

            <div class="btns">
              <button
                matSuffix
                matTooltipPosition="after"
                color="primary"
                mat-icon-button
              >
                <mat-icon color="primary">share</mat-icon>
              </button>

              <button
                matSuffix
                matTooltipPosition="after"
                color="primary"
                mat-icon-button
              >
                <mat-icon color="primary">file_copy</mat-icon>
              </button>
            </div>
          </div>

          <div class="pet_image">
            <img
              class="img-pet"
              src="../../../assets/boris.jpeg"
              alt=""
            />
          </div>

          <button
            color="accent"
            class="btn-header"
            mat-flat-button
          >
           Encontrado
          </button>

          <mat-list class="pet-infos">
            <mat-list-item>Nome: <span>Boris</span></mat-list-item>
            <mat-list-item>Raça: <span>Desconhecido</span></mat-list-item>
            <mat-list-item>Espécie: <span>Cachorro</span></mat-list-item>
            <mat-list-item>Sexo: <span>Macho</span></mat-list-item>
            <mat-list-item style="cursor: pointer"
              >Última localização:
              <span
                >R. dos Caningás, 5A - Vila Costa e Silva, Campinas - SP,
                13081-290, Brazil</span
              ></mat-list-item
            >
          </mat-list>

          <div class="btn-div">
            <button
              type="submit"
              class="btn"
              color="primary"
              mat-flat-button
            >
              Ver História
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="container">
  <div class="card">
    <div (click)="goToAboutUs()" class="c2-h1">
      <h1>Sobre nós</h1>
    </div>
        <div class="text">
      <p>
        A equipe do Divulga PET é dedicada a conectar pets perdidos com seus
        tutores. Inspirados pelo amor aos animais e pelo papel vital que eles
        desempenham na sociedade, criamos uma plataforma para aliviar a angústia
        de perder um pet. Reconhecemos que pets são membros da família e sua
        perda afeta a família e a comunidade. Apesar da tecnologia avançada de
        hoje, percebemos a falta de um serviço eficiente para reunir pets
        perdidos e seus tutores. Compostos por indivíduos apaixonados,
        acreditamos no poder da comunidade e estamos comprometidos em usar a
        tecnologia para o bem.
      </p>
      <p>
        Esperamos que, através do nosso trabalho, possamos contribuir para uma
        sociedade onde nenhum pet se sinta perdido e todo tutor tenha a paz de
        espírito de saber que existe uma comunidade pronta para ajudar.
        Agradecemos a sua visita e esperamos que você encontre o que procura em
        nosso site.
      </p>
    </div>
    <div class="imgSection">
      <div class="sec">
        <img
          src="../../../assets/Guilherme.jpg"
          alt=""
        />
        <p>Guilherme</p>
      </div>
      <div class="sec">
        <img
          src="../../../assets/karina.jpg"
          alt=""
        />
        <p>Karina</p>
      </div>
    </div>
  </div>
</div>

</div>
