.main {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .map {

    width: 80%;
    height: 80%;

    map-info-window {

        width: 1px;

      img {
        object-fit: cover;
        width: 200px !important;
        height: 200px;
        border-radius: 50%;
      }
    }
  }
  }

  p {
    color: black;
  }

