<div class="main">
  <div class="searchLocation">
    <mat-form-field appearance="outline">
      <input
        (keyup.enter)="autocomplete(locationInput)"
        matInput
        placeholder="Digite o local"
        [(ngModel)]="locationInput"
      />
    </mat-form-field>

    <div class="btnsDiv">
      <button
        mat-stroked-button
        (click)="autocomplete(locationInput)"
      >
        Search location
      </button>
      <button
        mat-stroked-button
        (click)="getUserLocation()"
      >
        Get your current location
      </button>
    </div>
  </div>
  @if(location !== '' || this.options){
    <p>Você quis dizer {{ location }} ?</p>
    <google-map
      class="map"
      width="600px"
      height="400px"
      [options]="options!"
    >
      <map-marker [position]="positionLatLng"/>
    </google-map>
  }
</div>
