<div class="main">
  <p-toast></p-toast>
  <mat-stepper [linear]="true" #stepper class="card">

    <mat-step [stepControl]="petForm" label="Fill in pet information" >
      <form class="parent" [formGroup]="petForm">
        <mat-form-field appearance="outline" class="item">
          <mat-label>Pet Name</mat-label>
          <input matInput placeholder="Exemple Rex" formControlName="name" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="item">
          <mat-label>Specie</mat-label>
          <mat-select
            placeholder="Select the species"
            formControlName="species"
          >
            <mat-option value="Dog">Dog</mat-option>
            <mat-option value="Cat">Cat</mat-option>
            <mat-option value="Bird">Bird</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="item">
          <mat-label>Breed</mat-label>
          <input
            matInput
            placeholder="Exemple Border collie"
            formControlName="breed"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="item">
          <mat-label>Sex</mat-label>
          <mat-select placeholder="Select the sex" formControlName="sex">
            <mat-option value="Female">Female</mat-option>
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Unknown">Unknown</mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="item">
          <mat-label>Status</mat-label>
          <mat-select placeholder="Select Status" formControlName="status">
            <mat-option value="Lost"
              >Lost <span>(I lost my pet)</span></mat-option
            >
            <mat-option value="found"
              >Found <span>(I found a lost pet)</span></mat-option
            >
            <mat-option value="Seen nearby">Seen nearby</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="footer">
          <form
            class="form2"
            enctype="multipart/form-data"
          >
            <label for="inputGroupFile02" class="custom-file-upload">
              <input
                type="file"
                id="inputGroupFile02"
                class="form-control"
                (change)="handleFileInput($event)"
              />
              Upload Pet Image
            </label>
          </form>
          <button color="primary" class="btn" mat-stroked-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="locationForm" label="Fill out your address">
      <form class="parent"  [formGroup]="locationForm">

        <mat-form-field appearance="outline" class="item">
          <mat-label>Last pet location</mat-label>
          <input
            (keyup.enter)="autocomplete(locationInput)"
            [(ngModel)]="locationInput"
            matInput
            placeholder="Tóquio 423, Parque São Quirino"
            formControlName="last_location"
          />
          <button (click)="autocomplete(locationInput)" color="primary" mat-icon-button matSuffix style="cursor: pointer;">
            <mat-icon color="primary">search</mat-icon>
          </button>

        </mat-form-field>

        <div class="mapButton" >
          <button
            type="button"
            class="btn" 
            color="primary"
            mat-stroked-button
            (click)="getUserLocation()"
          >
            Get your location
          </button>
        </div> 

          @if(location !== '' || this.options){
            <google-map
              class="map"
              width="50vw"
              height="220px"
              [options]="options!"
            >
              <map-marker [position]="positionLatLng"/>
            </google-map>
           }@else {
            <google-map
              class="map"
              width="50vw"
              height="220px"
              [options]="options2"
              >
            </google-map>
          }        
        <div class="footer">
          <button color="primary" class="btn" mat-stroked-button matStepperPrevious>Back</button>
          <button (click)="onSubmit()" [disabled]="disableButton" class="btn" color="primary" mat-stroked-button type="submit">
            Post pet
          </button>
        </div>

      </form>
    </mat-step>

  </mat-stepper>
</div>
