<div class="main">
  <div class="card">
    <h1>Post pet</h1>
    <p-toast></p-toast>
    <!-- <form (ngSubmit)="onSubmit()" [formGroup]="petForm" class="parent"> -->
      <form (ngSubmit)="onSubmit()" [formGroup]="petForm" class="parent">

      <mat-form-field appearance="outline" class="item">
        <mat-label>Pet Name</mat-label>
        <input matInput placeholder="Exemple Rex" formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="item">
        <mat-label>Specie</mat-label>
        <mat-select
          placeholder="Select the species"
          formControlName="species"
        >
          <mat-option value="Dog">Dog</mat-option>
          <mat-option value="Cat">Cat</mat-option>
          <mat-option value="Bird">Bird</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="item">
        <mat-label>Breed</mat-label>
        <input
          matInput
          placeholder="Exemple Border collie"
          formControlName="breed"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="item">
        <mat-label>Sex</mat-label>
        <mat-select placeholder="Select the sex" formControlName="sex">
          <mat-option value="Female">Female</mat-option>
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Unknown">Unknown</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="item">
        <mat-label>Last location</mat-label>
        <input
          matInput
          placeholder="Tóquio 423, Parque São Quirino"
          formControlName="last_location"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="item">
        <mat-label>Status</mat-label>
        <mat-select placeholder="Select Status" formControlName="status">
          <mat-option value="Lost"
            >Lost <span>(I lost my pet)</span></mat-option
          >
          <mat-option value="found"
            >Found <span>(I found a lost pet)</span></mat-option
          >
          <mat-option value="Seen nearby">Seen nearby</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="footer">
        <!-- (submit)="uploadImage()" -->
        <form
          class="form2"
          
          enctype="multipart/form-data"
        >
          <label for="inputGroupFile02" class="custom-file-upload">
            <input
              type="file"
              id="inputGroupFile02"
              class="form-control"
              (change)="handleFileInput($event)"
            />
            Upload Pet Image
          </label>
        </form>
        <button [disabled]="disableButton" class="btn" color="primary" mat-stroked-button type="submit">
          Post pet
        </button>
      </div>
    </form>
  </div>
</div>
